{% extends 'partials/secretaria/base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'js/chartist/' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
<div>
    

</div>
<style>
    .card {
        background-color: aqua;
        width: auto;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .card:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .card a {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .card h3 {
        margin-top: 10px;
        font-size: 10px;
    }

    .card i {
        margin-top: 20px;
    }
</style>

<style>
    .background-container {
        margin-top: -40px;
        background-image: url("{% static '/images/postit.png' %}");
        background-size: contain; /* Ajusta o tamanho da imagem para caber totalmente dentro do contêiner */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
        background-position: center; /* Centraliza a imagem */
        width: 100%; /* Define a largura total do contêiner */
        height: 350px; /* Define uma altura fixa de 300px para o contêiner */
        position: relative; /* Para permitir que a posição do texto seja relativa a este contêiner */
    }

    .text-container {
        position: absolute; /* Define a posição absoluta em relação ao contêiner pai */
        top: 50%; /* Alinha o topo da div de texto ao centro vertical */
        left: 50%; /* Alinha a esquerda da div de texto ao centro horizontal */
        transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente a div de texto */
        text-align: center; /* Centraliza o texto */
        font-size: 24px; /* Define o tamanho da fonte */
        font-weight: bold; /* Define a espessura da fonte */
    }

    .texto_aviso {
        width: 55%;
        margin-left: 22%;
        margin-top: 10%;
    }
</style>
<br>
        <h1>Olá, {{ user.username.split('@')[0]|capfirst }}!</h1>
<div class="row">



                <!-- Card: Projeto de Lei Ordinária -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'projetoSecreLista' %}" class="btn"><i class="fas fa-gavel fa-5x"></i><br></a>
                        <h3 class="text-center">Projetos e Emendas</h3>
                    </div>
                </div>
            
                <!-- Card: Audiência Pública -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'audienciaSecre' %}" class="btn"><i class="fas fa-microphone fa-5x"></i><br></a>
                        <h3 class="text-center">Audiência Pública</h3>
                    </div>
                </div>
            
                <!-- Card: Sessão Solene -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'sessaoSoleNew' %}" class="btn"><i class="fas fa-star fa-5x"></i><br></a>
                        <h3 class="text-center">Sessão Solene</h3>
                    </div>
                </div>
            
                <!-- Card: Sessão Ordinária -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'sessaoOridNew' %}" class="btn"><i class="fas fa-clock fa-5x"></i><br></a>
                        <h3 class="text-center">Sessão Ordinária</h3>
                    </div>
                </div>
            
                <!-- Card: Sessão Extraordinária -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'sessaoExtradNew' %}" class="btn"><i class="fas fa-clock fa-5x"></i><br></a>
                        <h3 class="text-center">Sessão Extraordinária</h3>
                    </div>
                </div>
            
                <!-- Card: Pautas -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'listar_pautas' %}" class="btn"><i class="fas fa-list-alt fa-5x"></i><br></a>
                        <h3 class="text-center">Pautas</h3>
                    </div>
                </div>
            
                <!-- Card: Requerimentos e indicações -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'requeriSecre' %}" class="btn"><i class="fas fa-file-signature fa-5x"></i><br></a>
                        <h3 class="text-center">Requerimentos e indicações</h3>
                    </div>
                </div>
            
                <!-- Card: Comissões -->
                <div class="col-md-3 col-xs-6">
                    <div class="card" style="background-color: aqua; width: auto;">
                        <a href="{% url 'comissao' %}" class="btn"><i class="fas fa-users fa-5x"></i><br></a>
                        <h3 class="text-center">Comissões</h3>
                    </div>
                </div>
            </div>
        </div>


            
    </div>
</div>
</div>



{% endblock %}