{% load static %} 
{% block sidebar %}

    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">

                    <li class="menu-title" key="Components">Cadastros</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="fas fa-users"></i>
                            <span key="UI_Elements">Produto</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="#" key="Alerts">Cadastrar</a></li>
                            <li><a href="#" key="Buttons">Consultar</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="fas fa-users"></i>
                            <span key="UI_Elements">Categoria</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="#" key="Alerts">Cadastrar</a></li>
                            <li><a href="#" key="Buttons">Consultar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="fas fa-users"></i>
                            <span key="UI_Elements">Ficha Técnica</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="#" key="Alerts">Cadastrar</a></li>
                            <li><a href="#" key="Buttons">Consultar</a></li>
                        </ul>
                    </li>

                    <li class="menu-title" key="Components">Movimentação</li>
                    <li>
                        <a href="#" class=" waves-effect">
                            <i class="far fa-calendar-alt"></i>
                            <span key="Calendar">Entrada</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" waves-effect">
                            <i class="far fa-calendar-alt"></i>
                            <span key="Calendar">Saída</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>

{% endblock %}
