{% extends 'partials/base.html' %}

{% block content %}

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h6 class="page-title">Nova categoria</h6>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="#">Estoqui</a></li>
                <li class="breadcrumb-item"><a href="#">Categoria</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %}</li>
            </ol>
        </div>
    </div>
</div>

<div class="card p-4">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="text-danger">{{ form.nome.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.cor.label_tag }}
                {{ form.cor }}
                {% if form.cor.errors %}
                    <div class="text-danger">{{ form.cor.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'lista_categorias' %}" class="btn btn-lg btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-lg btn-primary">{% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>
</div>
{% endblock %}