{% extends 'partials/base.html' %}

{% block content %}

<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h6 class="page-title">Lista de Fichas Técnicas</h6>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="#">Estoqui</a></li>
                <li class="breadcrumb-item"><a href="#">Fichas Técnicas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Consulta</li>
            </ol>
        </div>
        <div class="col-md-4 text-end">
            <a href="{% url 'create_ficha_tecnica' %}" class="btn btn-lg btn-primary">
                <i class="mdi mdi-plus"></i> Nova Ficha Técnica
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card p-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-editable table-nowrap align-middle table-edits">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th>Nome</th>
                                <th>Insumos</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ficha in fichas_tecnicas %}
                                <tr>
                                    <td>{{ ficha.nome }}</td>
                                    <td>
                                        {% for insumo in ficha.insumos.all %}
                                            {{ insumo.produto.nome }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{% url 'add_insumo' ficha.id %}" class="btn btn-primary">Adicionar Insumo</a>
                                        <a href="{% url 'edit_ficha_tecnica' ficha.id %}" class="btn btn-warning">Editar</a>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ ficha.id }}">Deletar</button>
                                    </td>
                                </tr>
                                <!-- Modal -->
                                <div class="modal fade" id="confirmDeleteModal{{ ficha.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{ ficha.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmDeleteModalLabel{{ ficha.id }}">Confirmar Exclusão</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja excluir a ficha técnica "{{ ficha.nome }}"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <form action="{% url 'delete_ficha_tecnica' ficha.id %}" method="post" style="display: inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <tr>
                                    <td colspan="3">Nenhuma ficha técnica encontrada.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
